@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');

body {
	font-family: 'Gowun Dodum', sans-serif;
	height: 100dvh;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-color: rgb(255, 255, 255);
}

.chatting {
	background-color: rgb(119, 150, 230);
	border-radius: 5%;
	height: 700px;
	width: 500px;
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	overflow: hidden;
}

.talk {
	width: 500px;
	height: 500px;
	background-color:#eee;
}
.sendMessage{
	background-color: white;
	width: 500px;
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	overflow: hidden;
}
input{
	height: 50px;
	width: 400px;
	border: none;
	outline: none;
	margin-left: 10px;
}
#send{
	height: 50px;
	width: 100px;
	border: none;
	color: rgb(207, 207, 207);
	background-color: #eee;
	border-radius: 10%;
}
#send:hover {
   background: rgb(119, 150, 230);
}