@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');

body {
	font-family: 'Gowun Dodum', sans-serif;
	height: 100dvh;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background: linear-gradient(to right,rgb(119, 150, 230), #EEEDEB);
}

.chatting {
	background-color: rgb(119, 150, 230);
	border-radius: 5%;
	height: 700px;
	width: 500px;
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	overflow: hidden;
}
.talk {
	width: 500px;
	height: 500px;
	background-color:#eee;
	margin-top: 50px;
}
label{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 10px;
}
.sendMessage{
	background-color: white;
	width: 500px;
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	overflow: hidden;
}
input{
	height: 50px;
	width: 400px;
	border: none;
	outline: none;
	margin-left: 10px;
}
#send{
	height: 50px;
	width: 100px;
	border: none;
	color: rgb(207, 207, 207);
	background-color: #eee;
	border-radius: 10%;
}
#send:hover {
   background: rgb(119, 150, 230);
}
#talk_container {
    max-height: 450px; /* 표시하고자 하는 최대 높이 */
    overflow-y: auto; /* 수직 스크롤바 자동 표시 */
    overflow-wrap: break-word;
    word-wrap: break-word; /* 일부 브라우저를 위해 추가 */
    white-space: pre-line; /* 공백 및 줄 바꿈에 대한 처리 */
    word-break: break-all; /* 긴 단어에 대한 추가 처리 */
}

#talk_container::-webkit-scrollbar {
    width: 12px; /* 스크롤바의 너비 */
}

#talk_container::-webkit-scrollbar-thumb {
    background-color:  rgb(119, 150, 230); /* 스크롤바의 색상 */
    border-radius: 6px; /* 스크롤바의 모서리 반경 */
}